decord 
pillow 
sentencepiece
opencv-python-headless 
pytesseract
hf_xet
moviepy
langchain 
langchain-core 
langchain_community 
langchain_huggingface
faster-whisper
streamlit
qwen-vl-utils[decord]==0.0.8
PyQt5
markdown